@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
    margin: 0;
    padding: 0;
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgb(46, 46, 46) rgb(175, 175, 174);
  }
*::-webkit-scrollbar {
    width: 12px;
}
*::-webkit-scrollbar-track {
    background: rgb(109, 109, 108);
}
*::-webkit-scrollbar-thumb {
    background-color: rgb(42, 42, 43);
    border-radius: 20px;
    border: 3px solid rgb(131, 130, 129);
}

body {
    background: #000000;
}

/* p {
    font-family: 'Times New Roman', Times, serif;
} */

.video {
    padding-bottom: 10vw;
}

.content-wrap {
    display: block;
    position: relative;
    overflow-x: hidden;
    margin-top: 50px;
}

.video-wrap video {
    height: 100vh;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.content {
    position: absolute;
    width: 100%;
    top: 230px;
}

.content img {
    width: 100%;
    max-width: 700px;
}

.email {
    margin-top: 40px;
}

.email a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 450;
    color: #5C5C5C;
    text-decoration: none;
}

.mini {
    width: 50px;
}

.user {
    width: 16%;
    margin: 0.5%;
    margin-top: 5px;
}

.navbar-nav {
    margin: auto;
}

.user-img {
    width: 15%;
    position: absolute;
    left: 10px;
}

.qr-img {
    position: absolute;
    right: 10px;
    top: 10px;
}

.navbar {
    position: fixed;
    padding: 10px;
    display: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #000;
    border-bottom: 1px solid #757575;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: all 0.5s ease 0s !important;
}

.media-items {
    width: 75%;
    margin: auto;
}

.media-item {
    width: 250px;
    margin: 20px;
    border: 2px solid #757575;
    position: relative;
}

.media-item img {
    margin: 10px;
    width: 226px;
}

.stripe {
    position: absolute;
    bottom: 0;
    background: #000;
    height: 22%;
    width: 100%;
    transition: 65%;
    opacity: 0.5;
}

.stripe-text {
    width: 100%;
    position: absolute;
    bottom: -5px;
}

.stripe-text p {
    margin-top: 7px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ADADAD;
}

footer {
    margin: 30px 0;
}

.company {
    border-top: 1px solid #161616;
}

@media (max-width: 1140px) {
    .content img {
        width: 650px;
    }
    .user {
        width: 30px;
        margin: 5px;
        margin-top: 5px;
    }
}

@media (max-width: 991px) {
    .video {
        padding-bottom: 0vw;
        height: 96vh;
    }
    .user-img {
        width: 5%;
    }
    .content-wrap{
        height: 90vh;
        overflow: hidden;
        margin-top: 100px;
    }
    .content {
        top: 170px;
    }
    .media-items {
        width: 80%;
        margin: auto;
    }
    .video-wrap{
        top: 42%;
        position: relative;
        transform: translateY(-50%);
    }
    .video-wrap video {
        max-height: 96vh;
    }

    .content img {
        width: 550px;
    }
    .email {
        margin-top: 40px;
        width: 100%;
        top: 70%;
        left: 0;
    }
    .user {
        width: 27   px;
        margin: 5px;
    }
    .email a{
        font-size: 25px;
    }
    .mini {
        width: 45px;
    }
    .media-item {
        width: 230px;
    }
    .media-item img {
        width: 205px;
    }
    .stripe-text p {
        margin-top: 5px;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
}

@media (max-width: 768px) {
    .video-wrap video {
        max-height: 65vh;
    }
    .user-img {
        width: 5%;
    }

    .video-wrap {
        height: 63vh;
    }

    .content-wrap{
        height: 53vh;
        overflow: hidden;
        margin-top: 100px;
    }
    .user {
        width: 26px;
        margin: 5px;
    }

    .content img {
        width: 500px;
    }
    .content {
        top: 200px;
    }
    .media-items {
        width: 80%;
        margin: auto;
    }

    .email a {
        font-size: 18px;
    }
    .mini {
        width: 40px;
    }
    .media-item {
        width: 160px;
    }
    .media-item img {
        width: 135px;
    }
    .stripe-text p {
        margin-top: 4px;
        font-size: 16px;
    }
    .stripe-text {
        bottom: -6px;
        width: 100%;
    }
}

@media (max-width: 576px) {
    .video-wrap video {
        height: 55vh;
    }
    .user-img {
        width: 5%;
    }

    .content-wrap{
        height: 55vh;
        overflow: hidden;
        margin-top: 80px;
    }
    .user {
        width: 26px;
        margin: 5px;
        margin: 2px;
    }

    .content img {
        width: 70%;
    }
    .content {
        top: 120px;
    }

    .email {
        margin-top: 40px;
    }
    .email a {
        font-size: 15px;
    }
    .mini {
        width: 38px;
    }
    .media-item {
        width: 140px;
    }
    .media-item img {
        width: 120px;
    }
    .media-items {
        width: 85%;
        margin: auto;
        margin-top: 10px;
    }
    .stripe-text p {
        margin-top: 4px;
        font-size: 12px;
    }
    .stripe-text {
        bottom: -8px;
        width: 100%;
    }
}

@media (max-width: 430px) {
    .video-wrap video {
        height: 50vh;
    }
    .content-wrap{
        height: 50vh;
        overflow: hidden;
        margin-top: 50px;
    }
    .user-img {
        width: 5%;
    }

    .content {
        top: 142px;
    }
    .user {
        width: 19px;
        margin: 5px;
        margin: 2px;
    }

    .email {
        margin-top:40px;
    }
    .email a {
        font-size: 13px;
    }
    .mini {
        width: 35px;
    }
    .media-item {
        width: 128px;
        margin: 10px;
    }
    .media-item img {
        width: 105px;
    }
    .media-items {
        width: 90%;
        margin: auto;
    }
    .stripe-text {
        bottom: -10px;
        width: 1005;
    }
    .stripe-text p {
        margin-top: 4px;
        font-size: 12px;
    }
}
