* {
    scrollbar-width: thin;
    scrollbar-color: rgb(46, 46, 46) rgb(175, 175, 174);
  }
*::-webkit-scrollbar {
    width: 12px;
}
*::-webkit-scrollbar-track {
    background: rgb(109, 109, 108);
}
*::-webkit-scrollbar-thumb {
    background-color: rgb(42, 42, 43);
    border-radius: 20px;
    border: 3px solid rgb(131, 130, 129);
}

.panel {
    margin-top: 80px;
    padding: 10px;
}

.panels {
    padding: 10px;
}

.modal-dialog {
    max-width: 240px !important;
}

.panel img {
    width: 100px;
    margin-left: 20px;
    margin-bottom: 10px;
}

input {
    width: 200px;
    border-radius: 0 !important;
}

button {
    width: 100px;
    border-radius: 0 !important;
    margin-left: 22px;
}

a {
    text-decoration: none !important;
}

h5 {
    font-family: 'Times New Roman', Times, serif;
}

p {
    margin-bottom: 0;
    font-size: 20px;
}

.email a {
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    bottom: 20px;
}

@media (max-width: 576px) {
    .modal-dialog-centered {
        min-height: calc(100% - 3.5rem);
    }
}
@media (max-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto;
    }
}